extends layout

block content
	.col-md-2
	.col-md-8
		.first-form
			pre.center
				|<b> Contáctenos</b>
				|<br>
				|<br>
				|Para alguna duda o información adicional nos pueden contactar a través de los siguientes medios: 
				|<br>
				|hugo.castaneda@usbmed.edu.co; angela.gomez@usbmed.edu.co 
				|<br>
				|Universidad de San Buenaventura - Medellín
				|Carrera 56C N° 51-110 Centro – Medellín oficina 205B - 
				|Teléfono: 57(4)5145600 ext: 4202
	.col-md-2