extends layout

block content
	.col-md-2
	.col-md-8
		.first-form
			pre.center
				|<b>Créditos</b>
				|Este proyecto es propiedad de la Universidad de San Buenaventura Medellín.
				|<br>
				|Realizadores:
				|Abogado Hugo Nelson Castañeda Ruiz  
				|Socióloga Ángela María Gómez Osorio.
				|<br>
				|Asesores técnicos:
				|Ingeniero José Eucario Parra Castrillón.
				|Ingeniero Carlos Arturo Castro Castro.
				|<br>
				|Desarrollo y programación:
				|Carlos Fernando Serna Sierra.
				|<br>
				|Coautores 
				|Arquitecto Nelson de Jesús Arango Yépes.
				|Médico Juan David Osorio Robledo.
				|<br>
				|Camarógrafo:
				|Arquitecto Pablo Echeverri Rendón.
				|<br>
				|Presentadora:
				|Comunicadora Social Verónica Moreno López.
				|<br>
				|Edición de video:
				|Jorge Eduardo Sierra Marín.
	.col-md-2