extends layout

block content
	.col-md-2
	.col-md-4
		.first-form
			pre.center.
				<b>¿Quieres aprender sobre la bioética de una forma lúdica?</b>
				<br>
				A continuación te presentamos una serie de lecturas y juegos con los cuales podrás instruirte en los principios y fundamentos del tema, a través de una experiencia educativa entretenida. 
				Bienvenidos al “Juego de la Bioética”
			br
			br
			br
			br
			br
	.col-md-4
		.row.pull-right
			br
			br
			br
			br
			.row
				button.btn.btn-primary(onclick="location.href='loginuser'", style="width: 150px;height: 50px;") Acceder
				br
				br
			.row
				button.btn.btn-primary(onclick="location.href='newuser'", style="width: 150px;height: 50px;") Registrarse
	.col-md-2