extends layout

block content
	.col-md-2
	.col-md-8
		.first-form
			pre.
				<b>¿Quiénes somos?</b>
				<br>
				Este software, denominado: El Juego de la Bioética, es resultado del proyecto de investigación: “Impacto de las novelas y los programas informáticos con material lúdico-didáctico para la enseñanza de la bioética en estudiantes universitarios: fase I”, el cual surge como iniciativa del abogado Hugo Nelson Castañeda Ruiz y la socióloga Ángela María Gómez Osorio profesores miembros de la línea bioética y desarrollo humano del Grupo Interdisciplinario para el Desarrollo del Pensamiento y la Acción Dialógica – GIDPAD –, con el apoyo y acompañamiento de los Ingenieros José Eucario Parra Castrillón y Carlos Arturo Castro Castro, profesores de la Facultad de Ingeniería de la Universidad de San Buenaventura Medellín y miembros del Grupo de Modelamiento y Simulación Computacional GIMSC y del estudiante Carlos Fernando Serna Sierra de la Facultad de Ingenierías de la misma Universidad.
				<br>
				El objetivo del software es facilitar la enseñanza de los fundamentos bioéticos orientado a personas interesadas en la temática, especialmente en el ámbito universitario, facilitando la comprensión del contenido bajo una orientación lúdica que pueda motivar al participante.
	.col-md-2