extends layout

block content
	.col-md-2
	.col-md-8
		.first-form(style="max-height: 400px;overflow-y: scroll;")
			pre.
				<b>EL JUEGO DE LA BIOÉTICA</b>
				<br>
				<b>TÉRMINOS Y CONDICIONES DE USO</b>
				<br>
				El presente documento establece las condiciones de uso del software educativo denominado: “El juego de la Bioética”, esto significa que cualquier persona que utilice este programa será una parte contratante y será llamado como “usuario” y deberá cumplir con las condiciones establecidas en éste contrato. 
				<br>
				La Universidad de San Buenaventura Medellín (en adelante llamado “La Universidad”), institución colombiana de educación superior de carácter privado, de utilidad común, sin ánimo de lucro, pone a disposición de todas las personas interesadas en aprender Bioética el presente software educativo denominado “El juego de la Bioética” y quien decida acceder a éste se convertirá en parte contratante denominada aquí como: “Usuario”.  Por lo tanto, ambas partes: “La Universidad” y el “Usuario”, se regirán y obligarán por las disposiciones contenidas en la presente licencia denominada: “Términos y Condiciones de uso” de acuerdo con las siguientes: 
				<br>
				<b>CLÁUSULAS</b>
				<br>
				<b>CLÁUSULA 1 – OBLIGACIONES DE LAS PARTES:</b> “La Universidad” de forma voluntaria pone a disposición del “Usuario”, en forma gratuita, el software educativo denominado “El juego de la bioética”, con el fin de promover el estudio de esta disciplina. 
				<br>
				El fin del programa informático es el de introducir al “Usuario” en los principios y fundamentos de la bioética y en el logro de los objetivos de aprendizaje de cada nivel, que le darán al “usuario” una insignia digital como recompensa por la obtención de un resultado satisfactorio; ello no significa que la insignia o la superación de los niveles de este programa comprometan a “La Universidad” y constituya certificados o créditos académicos, por lo tanto, se quiere reiterar que, la superación de los niveles y la obtención de las insignias no comprometen a “La Universidad” y no da derecho legal a la obtención de certificados, títulos o a la convalidación de créditos académicos por parte de “La Universidad”.  
				<br>
				En cuanto al uso del presente programa informático, el “Usuario” se compromete a:
				a.	Utilizar el programa informático de la manera como aparece en las instrucciones del mismo.
				b.	No copiar ni utilizar, para ningún fin, los logos, las imágenes, los documentos, los videos, los juegos y demás contenido digital que se encuentre en el programa informático denominado: “El juego de la Bioética”.
				c.	Solicitar autorización expresa de “La Universidad” en caso de querer copiar el código fuente del programa informático o de realizarle modificaciones.
				d.	Abstenerse de publicar las respuestas o los resultados de los juegos, ya que ello podría entorpecer la intencionalidad pedagógica establecida para éste. 
				e.	Registrar un solo usuario, con el fin de obtener una mejor experiencia educativa.
				f.	No utilizar el programa y su contenido para la obtención de algún tipo de utilidad económica o comercial.
				<br>
				<b>CLÁUSULA 2 – EXONERACIÓN DE RESPONSABILIDAD:</b> “La Universidad” no es responsable, ante el “Usuario” o terceras personas, del indebido uso del programa o de cualquier daño por la utilización ordinaria del mismo, por lo tanto, el “Usuario” corre con los riesgos que puedan suceder por la utilización del software.
				<br>
				<b>CLÁUSULA 3 – CONSENTIMIENTO, CONDICIONES DE PRIVACIDAD Y MANEJO DE DATOS PERSONALES:</b> En el software “El juego de la Bioética”, “La Universidad” solicita en el registro unos datos personales, los cuales sirven para determinar la aceptación del presente contrato y hacer un seguimiento a los logros obtenidos por el “Usuario”. Eventualmente los datos personales podrán ser usados para envío de información académica o publicidad por parte de “La Universidad”. Los datos no serán vendidos o cedidos a terceras personas o a empresas y se seguirán y respetarán las directrices de la Ley Estatutaria 1581 de 2012 de Colombia. En el caso de que “El Usuario” desee rectificar o retirar de la base de datos de este software denominado: “El Juego de la Bioética” cualquier tipo de dato personal, puede hacer una solicitud formal a los correos electrónicos: hugo.castaneda@usbmed.edu.co o angela.gomez@usbmed.edu.co o dirigirse a la carrera 56 C número 51 – 110 oficina 205B en la ciudad de Medellín (Colombia) y realizar allí dicha solicitud. En caso de solicitud de retiro el tiempo máximo estimado para el mismo es de 7 días hábiles.    
				<br>
				<b>CLÁUSULA 4 – PROPIEDAD INTELECTUAL:</b> Se debe reconocer que los derechos morales de este software pertenecen a las personas que participaron en la creación del programa informático, los cuales aparecen en los créditos del mismo y “La Universidad” tiene los derechos patrimoniales del presente programa, por lo tanto, queda prohibida la comercialización, uso indebido, uso contrario a lo establecido en el juego, modificación, supresión o usos contrarios a los establecidos en la legislación colombiana, especialmente en la ley 23 de 1982, ley 44 de 1993 y la Decisión 351 de la Comisión del Acuerdo de Cartagena por parte del “usuario” o de terceras personas. Cualquier violación a los derechos morales, patrimoniales y conexos de autor será causal de acciones legales. Para un uso diferente al educativo, se debe pedir autorización expresa de “La Universidad”. 
				<br>
				<b>CLÁUSULA 5 – JURISDICCIÓN Y ASPECTOS LEGALES:</b> Cualquier problema legal que se suscite deberá decidirse bajo las normas colombianas y bajo la jurisdicción de los jueces colombianos. El domicilio legal es en la ciudad de Medellín (Colombia) y el lugar donde se deberá presentar las reclamaciones es ante los jueces de dicha ciudad. No habrá lugar a cláusulas compromisorias o a acuerdos para que dichos asuntos sean conocidos por árbitros o por otro tipo de jurisdicción.
				<br>
				<b>CLÁUSULA 6 – MODIFICACIÓN DE LOS TÉRMINOS Y CONDICIONES DE USO:</b> “La Universidad” se reserva el derecho de modificar total o parcialmente las cláusulas de esta licencia denominada: “Términos y condiciones de uso”, las cuales solo serán aplicables a las partes (el “Usuario” y “la Universidad”) cuando sean publicadas en el software.  
				<br>
				<b>CLÁUSULA 7 – USO DE COOKIES:</b> “La Universidad” manifiesta que en el presente software no se utilizan cookies, ni ningún software de rastreo o de recolección de información de los usuarios.  
	.col-md-2