body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.footer>div{
	margin: 0px !important;
	padding: 20px;
	border-width: 1px;
	border-color: rgba(65,113,156,1);
	border-style: solid;
	color: white;
	height: 80px;
}

.footer{
	background: rgba(31,78,121,1);
	position:absolute;
	width: 100%;
}

.first{
	margin-top: 50px;
	min-height: 547px;
}

.center{
	text-align: center;
}

.btn-primary{
	background-color: rgba(31,78,121,1) !important;
}

video{
	width: 100%;
}

.big-button{
	width: 200px;
	height: 100px;
	margin:20px;
}

.title{
	border-width: 1px;
	border-style: solid;	
	border-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    text-shadow: 3px 2px gray;
    width: 250px;
    margin: 0 auto;
}
.second-form{
	border-width: 1px;
    border-style: solid;
    border-color: rgba(31,78,121,1);
    padding: 20px;
    text-align: center;
    max-height: 350px;
    overflow-y: auto;
}
.form-color{
	border-width: 1px;
	border-style: solid;
	border-color: rgba(31,78,121,1);
	text-align: center;
	background-color: rgba(31,78,121,1);	
	margin: 0 auto;
}

label.form-color{
	color:white;
}

.form-color>input{
	width: 300px;
}

.form-color>label{
	width: 300px;
	color:white;
}
.scroll{
    background-image: url("../img/icon.png");
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 20px;
    color: white;
    padding: 10px;
    text-align: center;
    background-position: inherit;
    cursor: pointer;
}
.backScroll {
    background-color: rgba(140,185,226,1);
    color: white;
    text-decoration: blink;
}
input.scroll{
	width: 200px;
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}
.tablaFull>tbody>tr>td,.tablaFull5>tbody>tr>td{
	background-color: black;
}
.tablaFull>tbody>tr>.numero,.tablaFull5>tbody>tr>.numero{
	width: 25px;
	background-color: rgba(169,208,142,1) !important;
}
.tablaFull>tbody>tr>.letra>input,.tablaFull5>tbody>tr>.letra>input{
	width: 100%;
	text-align: center;
}
.tablaFull>tbody>tr>.letra,.tablaFull5>tbody>tr>.letra{
	width: 25px;
}
.tablaFull,.tablaFull5{
	width: 100%;
}
.tableFull1>tbody>tr>td:hover,.tableFull6>tbody>tr>td:hover{
	background-color: red;
	color:white;
	cursor: pointer;
}
.tableFull1,.tableFull6,.tableParche1, .completa{
	width: 100%;
	background-color: white;
}
.tabla3, .tabla4{
	border-style: solid;
	border-width: 1px;
	border-color: blue;
	background-color: white;
}
.cajon{
	margin:10px;
}
.mapa{
	width: 70px;
    margin: 10px;
    text-align: center;
}
.colorwhite{
	color: white;
}